/* Title Text */
h1
{
    color: aliceblue;
    font-size: 60px;
    font-family: 'Ranchers';
    letter-spacing: 3px;
}

/* Instructions Text */
#intro
{
    color: aliceblue;
    font-size: 25px;
    font-family: Arial;
}

/* Squares on Board */
#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8, #s9 
{
    width: 120px;
    height: 120px;
    border: 2px solid mediumturquoise;
    color: palevioletred;
    text-align: center;
    border-radius: 10px;
    font-size: 55px;
}

/* Game Winner */
#result
{
    color: aliceblue;
    font-size: 60px;
    font-family: 'Ranchers';
}

/* Player's turn */
#turn
{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Ranchers';
}

/* Button that starts a new game */
button
{
    border: 2px solid cornflowerblue;
    background-color: palevioletred;
    color: aliceblue;
    font-size: 30px;
    font-family: Arial;
}

/* Header Style */
header
{
    background-color: cornflowerblue;
    padding: 1px;
    text-align: center;
}
  
/* Main Section for Game Board */
section
{
    display: -webkit-flex;
    display: flex;
}
  
/* Side Panel */
nav
{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: palevioletred;
    padding: 10px;
}
  
/* Game Board Style */
main
{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
}
  
/* Footer Style */
footer
{
    background-color: mediumturquoise;
    padding: 1px;
    text-align: center;
}